<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>爬虫</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/random.css" th:href="@{/css/random-v2-3.css}"/><!---->
    <script src="js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <script>
        $(function () {
            $('#start').click(function () {
                $('#time').hide();
                $('.checkthis').removeClass('drop');
                var drop = $('.drop');
                for (let i = 0; i !== drop.length; i++) {
                    var rand = Math.floor(Math.random() * 500);
                    $(drop[i]).delay(rand).animate({
                        top: '200px',
                        opacity: 0,
                    }, 2500);
                }

                $('#start').hide();
                $('#time').show();
                $('.checkthis').animate({
                    width: '150px',
                    height: '150px',
                    fontSize: "34px",
                    lineHeight: "150px",
                }, 2500);
                $('.checkthis').addClass('checkthiscenter');
            });
            $('#time').click(function () {
                var settime;
                var setmin = $('#setmin').val() * 60;
                var sets = ($('#sets').val());
                settime = parseInt(setmin) + parseInt(sets) - 1;
                var down = parseInt(settime);
                localStorage.setItem('down', down);

                function start() {
                    interval = setInterval(function () {
                        var min;
                        var s;
                        if (down >= 0) {
                            min = Math.floor(localStorage.getItem("down") / 60);
                            s = Math.floor(localStorage.getItem("down") - 60 * min);
                        }
                        $('#leftTime').text(min);
                        $('#rightTime').text(s);
                        down--;
                        localStorage.setItem('down', down);
                    }, 1000);
                }

                if ($('#time').text() === "开始计时") {
                    $('#time').text('重新开始');
                    start();
                } else {
                    window.location.reload()
                }
            });
            var arr =["对于伴侣来说，你觉得性格，三观和相貌哪个更重要",
                "怎样看待996","你会选择在网络上打抱不平吗？为什么？",
                "到目前为止最后悔的事情是什么，如果有机会愿意回到过去改变它吗？",
                "我不合群，我要改吗？","当代大学生是更应该关注社会的光明面还是阴暗面",
                "娱乐新闻是丰富还是腐蚀了人民群众的文化生活","你认为好伙伴和好对手哪一个对你的帮助更大",
                "努力和选择你觉得哪一个更重要一点？","谈谈你对“棍棒式教育”的看法",
                "谈谈你对“内卷”这个社会现象的看法","该不该看伴侣的手机?",
                "学生时代该不该谈恋爱？","封杀艺人的同时，该不该封杀他的作品？",
                "女生要不要主动追男生？","如何看待键盘侠","对上海名媛群拼团怎么看",
                "面对我国互联网的追星文化你有什么看法？（比如肖战，防弹少年团事件）",
                "如何看待失格偶像仍然有大量社会流量和观众买账的现象？","高科技是否会毁灭人类？",
                "情商和智商哪个更重要？"];

            function random(a, b) {
                return Math.round(Math.random() * (b - a) + a);
            }

            $("#topic").click(function () {
                $('#topicMsg').css("fontSize","12px");
                $('#topBox').hide();
                $('#topBox').show();
                $('#topicMsg').animate({
                    fontSize: "30px",
                }, 2500);
                var num = random(0, arr.length - 1);
                $("#topicMsg").text(arr[num]);
            });
        })
    </script>
</head>
<body>
<!-- 头部所有名字集合 -->
<div class="top">
    <span class="name drop" th:each="u:${users}" th:text="${u.getName()}"
          th:class="${u.getName() eq choice.getName()}?'name drop checkthis':'name drop'">贺缙殷</span>
</div>

<!-- 下半部分 -->
<div id="topBox" class="topBox">
    <span id="topicMsg" style="font-size: 12px"></span>
</div>
<div class="bottom">
    <!-- 计时器和开始按钮 -->
    <div class="startbox">
        <button class="time" id="time">开始计时</button>
        <button class="start" id="start">抽人</button>
    </div>
    <!-- 计时器面板 -->
    <div class="timebox">
        <div class="left" id="leftTime">
            <input type="number" id="setmin" value="5"/>
        </div>
        <div class="center">：</div>
        <div class="right" id="rightTime">
            <input type="number" id="sets" value="0"/>
        </div>
    </div>
    <div class="startbox">
        <button class="time" id="topic">抽取话题</button>
    </div>
</div>

</body>
</html>