<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>爬虫</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/randomCall.css}"/>
    <script src="js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <script>
        $(function () {

            $('#start').click(function () {
                $('#time').hide();
                $('.checkthis').removeClass('drop');
                var drop = $('.drop');
                for (let i = 0; i !== drop.length; i++) {
                    var rand = Math.floor(Math.random() * 500);
                    // console.log(rand)
                    $(drop[i]).delay(rand).animate({
                        top: '200px',
                        opacity: 0,
                    }, 2500);
                    $('.checkthis').addClass('checkthiscenter');
                }
                ;
                $('#start').hide();
                $('#time').show();

                $('.checkthis').animate({
                    width: '350px',
                    height: '350px',
                    fontSize: "100px",
                    lineHeight: "350px",
                }, 2500)
            });
            $('#time').click(function () {
                var down = parseInt(299);
                setInterval(function () {
                    var min;
                    var s;
                    if (down >= 0) {
                        min = Math.floor(down / 60);
                        s = Math.floor(down - 60 * min);
                    };
                    $('#leftTime').text(min);
                    $('#rightTime').text(s);
                    down--;
                }, 1000);
            })
        })
    </script>
</head>
<body>
<!-- 头部所有名字集合 -->
<div class="top">
    <span class="name drop" th:each="u:${users}" th:text="${u.getName()}" th:class="${u.getName() eq choice.getName()}?'name drop checkthis':'name drop'">贺缙殷</span>
</div>

<!-- 下半部分 -->
<div class="bottom">


    <!-- 计时器和开始按钮 -->

    <div class="startbox">

        <button class="time" id="time">开始</button>
        <button class="start" id="start">抽人</button>
    </div>
    <!-- 计时器面板 -->
    <div class="timebox">
        <div class="left" id="leftTime">5</div>
        <div class="center">：</div>
        <div class="right" id="rightTime">00</div>
    </div>

</div>
</body>

</html>